body{
    text-align: center;
    margin:0;
    padding-top: 800px;
}
.profile{
    width:175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    position:absolute;
    height: 800px;
    color:white;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    opacity:0.83;
    width:100%;
    display:table;
    background: linear-gradient(#2aebe4 0%,#ede61f 100%);
     z-index:9;
}
.parallax-inner{
    display:table-cell;
    position: relative;
    vertical-align: middle;
    
    
}
h1{
    font-size:40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}
h2{
    font-size:30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}
#name{
    font-size:30px;
    line-height: 1.2;
    font-family: 'Pangolin', cursive;
}
#bio{
    padding:500px;
    font-size: 42px;
    
}
.line{
    height:6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
    
}
p{
     
    font-size: 17px;
    margin: 25px;
    line-height: 1.3;
}
.menu{
    list-style:none;
    font-family: sans-serif;
    position:fixed;
    top:10px;
    right:30px;
    cursor:pointer;
    z-index: 10;
    
    
}
.links{
    float:left;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    font-family: fantasy;
    
}
.links:hover{
    background-color:dodgerblue;
}
a{
    text-decoration: none;
}
.article:hover{
    color:fuchsia;
}
    


    
